{% load static %}


{% comment %} {% block body %}

{% include 'navigation.html' %}

<script>
  label {
    display: block;
    font: 1 rem 'Fira Sans',
    sans - serif;
  }

  input,
  label {
    margin: .4 rem 0;
  }
</script>
<hr>

<marquee>
  Add Department Page
</marquee>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto bg-light">


      <h3 class="mt-2">Add Department </h3>

      <form class="container mt-3" action="{% url 'user_signin' %}" method="post">
        {% csrf_token %}
        <label class="mt-3"><b>Department Name</b></label>
        <input type="text" class="form-control" name="dname" placeholder="Enter Department Name">

        <label class="mt-3"><b>Department Block</b></label>
        <input type="text" class="form-control" name="dloc" placeholder="Enter Department Block">

        <button type="submit" class="btn btn-primary mt-4">Add Department</button>

      </form>
    </div>
  </div>
</div>


{% include 'footer.html' %}
{% endblock %} {% endcomment %}


{% block body %}
{% include 'navigation.html' %}
<script>
  label {
    display: block;
    font: 1 rem 'Fira Sans',
    sans - serif;
  }

  input,
  label {
    margin: .4 rem 0;
  }
</script>
<hr>

<marquee>
  Add Student
</marquee>

<div class="container card p-3 mt-2 border-dark mx-auto" style="width: 45rem; margin: 10px">
  <div class="row mt-3">
    <div class="col-sm-12 mx-auto bg-light">

      {% comment %} <h5 class="text-center">Add Penalty</h5> {% endcomment %}
      <h4 class="alert alert-primary text-center mt-2">Add Penalty</h4>
      <hr>
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-5">
          <button type="submit" class="btn btn-primary">Add Penalty</button>
          <button type="reset" class="btn btn-secondary ms-2">Reset</button>

          <a href="{% url 'penalty_read' %}">
            <button class="btn btn-outline-dark ms-2" type="button">List of Penalty</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'footer.html' %}
{% endblock body %}