{% load static %}


{% comment %} {% block body %}

{% include 'navigation.html' %}

<script>
  label {
    display: block;
    font: 1 rem 'Fira Sans',
    sans - serif;
  }

  input,
  label {
    margin: .4 rem 0;
  }
</script>
<hr>

<marquee>
  Add Department Page
</marquee>

<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto bg-light">


      <h3 class="mt-2">Add Department </h3>

      <form class="container mt-3" action="{% url 'user_signin' %}" method="post">
        {% csrf_token %}
        <label class="mt-3"><b>Department Name</b></label>
        <input type="text" class="form-control" name="dname" placeholder="Enter Department Name">

        <label class="mt-3"><b>Department Block</b></label>
        <input type="text" class="form-control" name="dloc" placeholder="Enter Department Block">

        <button type="submit" class="btn btn-primary mt-4">Add Department</button>

      </form>
    </div>
  </div>
</div>


{% include 'footer.html' %}
{% endblock %} {% endcomment %}


{% block body %}
{% include 'navigation.html' %}
<script>
  label {
    display: block;
    font: 1 rem 'Fira Sans',
    sans - serif;
  }

  input,
  label {
    margin: .4 rem 0;
  }
</script>
<hr>

<marquee>
  Add Staff
</marquee>


<div class="container card p-3 mt-2 border-dark mx-auto" style="width: 45rem; margin: 10px">
  <div class="row mt-3">
      <div class="col-sm-12 mx-auto bg-light">

          
          
          <h4 class="alert alert-primary text-center mt-2">Add Staff</h4>
          {%if msg %}
              <h5 class='mt-2' style="color: red" >{{msg}}</h5>
          {% endif %}

          <form class="container mt-3" autocomplete="off" action="{% url 'add_staff' %}" method="post">
              {% csrf_token %}

              
              <label class="mt-3"><b>First Name</b></label>
              <input type="text" class="form-control" name="first_name" placeholder="Enter First Name" onkeyup="
              var start = this.selectionStart;
              var end = this.selectionEnd;
              this.value = this.value.toUpperCase();
              this.setSelectionRange(start, end);
            " style="text-transform:uppercase" required />  

              <label class="mt-3"><b>Last Name</b></label>
              <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name" style="text-transform:uppercase" 
              onkeyup="
              var start = this.selectionStart;
              var end = this.selectionEnd;
              this.value = this.value.toUpperCase();
              this.setSelectionRange(start, end);
            " style="text-transform:uppercase" />  

              <label class="mt-3"><b>Email ID</b></label>
              <input type="email" class="form-control" name="email_id" placeholder="Enter Email ID" style="text-transform:lowercase" 
              onkeyup="
              var start = this.selectionStart;
              var end = this.selectionEnd;
              this.value = this.value.toLowerCase();
              this.setSelectionRange(start, end);
            " style="text-transform:uppercase" required />  

              <label class="mt-3"><b>Mobile Number</b></label>
              <input type="text" class="form-control" name="contact_no" placeholder="Enter Mobile No in given format" pattern="[03]{2}[0-4]{2}-[0-9]{7}" required />
              <small>Format: 0333-1234567 or 0300-1234567 or 0321-1234567 or others as given pattern</small><br>

              
              <label class="mt-3" for="gender"><b>Gender</b></label>
              <select class="form-control" name="gender">
                
                <option value="MALE">MALE</option>
                <option value="FEMALE">FEMALE</option>
                
              </select>

              <label class="mt-3"><b>Department</b></label> 
                <select class="form-control" name="depts" required>
                    
                    {% for dept in depts %}
                        <option value="{{dept.id}}">{{dept.dept_name}}</option>
                    {% endfor %}
                </select>

                <label class="mt-3"><b>Designation</b></label> 
                <select class="form-control" name="designation" required>
                    
                    {% for designation in designations %}
                        <option value="{{designation.id}}">{{designation.designation_name}}</option>
                    {% endfor %}
                </select>
                             

              
              <div class="mt-5">
                  <button type="submit" class="btn btn-primary">Add Staff</button>
                  <button type="reset" class="btn btn-secondary ms-2">Reset</button>
                  <a href="{% url 'staff_read' %}">
                      <button class="btn btn-outline-dark ms-2" type="button">List All Staff</button>
                  </a>
                  
              </div>
              
          </form>
          <div class="mt-5">
              
              {% comment %} <button href="{% url 'student_read' %}" class="btn btn-outline-dark ms-2">List All Students</button> {% endcomment %}
          </div>
          {% comment %} {%if msg %}
              <h4 class='mt-2'>{{msg}}</h4>
          {% endif %} {% endcomment %}
          
      </div>
  </div>
</div>

{% comment %} <div class="container card p-3 mt-2 border-dark mx-auto" style="width: 45rem; margin: 10px">
  <div class="row mt-3">
    <div class="col-sm-12 mx-auto bg-light">

      
      <h4 class="alert alert-primary text-center mt-2">Add staff</h4>
      <hr>
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-5">
          <button type="submit" class="btn btn-primary">Add staff</button>
          <button type="reset" class="btn btn-secondary ms-2">Reset</button>

          <a href="{% url 'staff_read' %}">
            <button class="btn btn-outline-dark ms-2" type="button">List of staff</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div> {% endcomment %}

{% include 'footer.html' %}
{% endblock body %}