{% load static %}


{% block body %}

{% include 'navigation.html' %}

<!-- <script>
    label {
        display: block;
        font: 1 rem 'Fira Sans',
        sans - serif;
    }

    input,
    label {
        margin: .4 rem 0;
    }
</script> -->
<hr>

<marquee>
    Add Staff
</marquee>

<div class="container card p-3 mt-2 border-dark mx-auto" style="width: 45rem; margin: 10px">
    <div class="row mt-3">
        <div class="col-sm-12 mx-auto bg-light">



            <h4 class="alert alert-primary text-center mt-2">Add Faculty Member</h4>
            {%if msg %}
            <h5 class='mt-2' style="color: red">{{msg}}</h5>
            {% endif %}

            <form class="container mt-3" autocomplete="off" action="{% url 'add_facultymember' %}" method="post">
                {% csrf_token %}

                <label class="mt-3"><b>Faculty Member First Name</b></label>
                <input type="text" class="form-control" name="first_name" placeholder="Enter First Name">

                <label class="mt-3"><b>Faculty Member Last Name</b></label>
                <input type="text" class="form-control" name="last_name" placeholder="Enter Last Name">

                <label class="mt-3"><b>Email ID</b></label>
                <input type="email" class="form-control" name="email_id" placeholder="Enter Email ID">

                <label class="mt-3"><b>Contact No</b></label>
                <input type="text" class="form-control" name="contact_no" placeholder="Enter Contact No">

                <label class="mt-3" for="gender"><b>Gender</b></label>
                <select name="gender">

                    <option value="Male">Male</option>
                    <option value="Female">Female</option>

                </select>
                <br>
                <label class="mt-3"><b>Faculty Member Designation</b></label>
                <input type="text" class="form-control" name="facultymember_desig" placeholder="Enter Faculty Member designation">

                {% comment %} <table>
                    <tr>
                        <th>Select Departments</th>
                        <th>Transfer Items</th>
                        <th>Selected Departments</th>
                    </tr>
                    <tr>
                        <td>
                            <label class="mt-3"><b>Departments</b></label>
                            <select name="departments">
                                {% for dept in depts %}
                                <option value="{{dept.id}}">{{dept.dept_name}}</option>
                                {% endfor %}
                            </select>
                        </td>

                        <td>
                            <input type="button" id="moveright" value=">">
                            <input type="button" id="moveleft" value="<">
                        </td>

                        <td>
                            <select name="selected_dept" id="selected_dept" multiple="multiple">

                            </select>
                        </td>

                    </tr>

                </table> {% endcomment %}







                {% comment %} <label class="mt-3"><b>Committees</b></label>
                <select name="committees">
                    {% for committee in committees %}
                    <option value="{{committee.id}}">{{committee.committee_name}}</option>
                    {% endfor %}
                </select> {% endcomment %}



                <div class="mt-5">
                    <button type="submit" class="btn btn-primary">Add Staff</button>
                    <button type="reset" class="btn btn-secondary ms-2">Reset</button>
                    {% comment %} <button href="/staff_read" type="button" class="btn btn-outline-dark ms-2">List All
                        Staff</button> {% endcomment %}
                    <a href="{% url 'staff_read' %}">
                        <button class="btn btn-outline-dark ms-2" type="button">List All Staff</button>
                    </a>

                </div>

            </form>
            <div class="mt-5">

                {% comment %} <button href="{% url 'Staff_read' %}" class="btn btn-outline-dark ms-2">List All
                    Staffs</button> {% endcomment %}
            </div>
            {% comment %} {%if msg %}
            <h4 class='mt-2'>{{msg}}</h4>
            {% endif %} {% endcomment %}

        </div>
    </div>
</div>

{% include 'footer.html' %}

{% endblock body %}

{% comment %} {%extends 'base.html' %} {% endcomment %}

{% comment %} {% block content %} {% endcomment %}

{% comment %} {% block body %}
{% include 'navigation.html' %}

<div class="container card p-3 mt-5 border-dark" styles="width: 95%">
    <h5 class="text-center">Add Staff</h5>
    <hr>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mt-5">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary ms-2">Reset</button>

            <div>
            </div>

    </form>
</div> <button href="{% url 'staff_read' %}" class="btn btn-outline-dark ms-2 mt-3">List All Staff</button>
</div>

{% include 'footer.html' %}
{% endblock body %} {% endcomment %}