{% load static %}


{% block body %}

{% include 'navigation.html' %}

<hr>

<marquee class="mt-2">
  Live, Learn & Be Inspired
</marquee>
<div class="container card p-3 mt-2 border-dark mx-auto" style="width: 45rem; margin: 10px">
  <div class="row mt-3">
      <div class="col-sm-12 mx-auto bg-light">

      {% comment %} {% block title %}Change Password Page{% endblock title %} {% endcomment %}
      
{% comment %} Reference : https://studygyaan.com/django/how-to-create-built-in-change-password-and-reset-password-in-django {% endcomment %}
{% comment %} {% block content %}  {% endcomment %}
    {% comment %} <h2>Change Password</h2> {% endcomment %}
    <h4 class="alert alert-primary text-center mt-2">Change Password</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <script>
          messages.info(request, "Your Password has been changed.")
        </script>
        <a href="{% url 'index' %}">Back</a>
        <button type="submit">Change Password</button>
    </form>
{% comment %} {% endblock content %} {% endcomment %}

      {% comment %} <form action="{% url 'change%}" name="changepassword" class="container mt-3" method="post">
        {% csrf_token %}
        <h1> Change Your Password</h1>
        <hr>
        <div class="form-group">
          <label class="mt-1"><b>Current Password</b></label>
          <input type="password" class="form-control" name="cpwd" onfocusout="checkpass"
            placeholder="Enter current Password">
        </div>

        <div class="form-group">
          <label class="mt-1"><b>New Password</b></label>
          <input type="password" class="form-control" name="npwd" placeholder="Enter New Password">
        </div>

        <div class="form-group">
          <label class="mt-1"><b>Confirm New Password</b></label>
          <input type="password" class="form-control" name="cnpwd" placeholder="Confirm New Password">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Change Password</button>
      </form> {% endcomment %}
    </div>
  </div>
</div>



{% include 'footer.html' %}

{% comment %} {% ifequal error "no" %}
<script>
  user.password = npassword;
</script>

{% endifequal %} {% endcomment %}

{% comment %} {% ifequal error "yes" %}
<script>
  alert("Invalid Current Password ...");
</script>
{% endifequal %} {% endcomment %}




{% endblock %}