<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dual list Box</title>
</head>
<body>
    <h1>List Box Practice</h1>
    <table>
        <tr>
            <th>Select Items</th>
            <th>Transfer Items</th>
            <th>Selected Items</th>
        </tr>
        <tr>
            <td>
                <select name="lstbox1" id="lstbox1" multiple="multiple">
                    <option>Red</option>
                    <option>Blue</option>
                    <option>Black</option>
                    <option>White</option>
                    <option>Yellow</option>
                    <option>Green</option>
                </select>
            </td>

            <td>
                <input type="button" id="moveright" value=">">
                <input type="button" id="moveleft" value="<">
            </td>

            <td>
                <select name="lstbox2" id="lstbox2" multiple="multiple">

                </select>
            </td>

        </tr>



    </table>
</body>
</html>