{% load static %}


{% block body %}

{% include 'navigation.html' %}

<hr>

<marquee class="mt-2">
    Live, Learn & Be Inspired
</marquee>

<h5 class="card p-2 text-center mb-3">List of Faculty</h5>

<div class="container card  border-dark ">

    <div class="row">
        <table class="table table-boardered">
            <thead class="table-secondary">
                <tr>
                    <th>Faculty Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- Data from DB -->
            {% for data in faculty_data %}
            <tr>
                <td>{{ data.faculty_name }}</td>

                <td><a href="{% url 'faculty_detail' data.id %}">
                        <button class="btn btn-primary" type="button">Detail</button>
                    </a>
                </td>
                <td>
                    <form action="{% url 'faculty_edit' data.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-secondary" value="Update">
                    </form>
                </td>
                
                <td>
                    <form action="{% url 'faculty_delete' data.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% include 'footer.html' %}
{% endblock body %}