{% load static %}


{% block body %}

{% include 'navigation.html' %}

<hr>

<marquee class="mt-2">
    Live, Learn & Be Inspired
</marquee>

{% comment %} <a href="{% url 'add_meeting' %}" class="btn btn-outline-primary mb-3">Add Meeting</a> {% endcomment %}

<h5 class="card p-2 text-center mb-3">List of Meetings</h5>

<div class="container card  border-dark ">

    <div class="row">
        <table class="table table-boardered">
            <thead class="table-secondary">
                <tr>

                    <th>Meeting ID</th>
                    <th>Meeting Date</th>
                    <th>Meeting Location</th>
                    <th>Chair by</th>
                    <th>Complain</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- Data from DB -->
            {% for data in meeting_read %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.meeting_date }}</td>
                <td>{{ data.meeting_location }}</td>
                <td>{{ data.chair_by }}</td>
                <td> {% for complain in data.complains.all %}{{ complain }}<br />{% endfor %} </td><br>
                <td><a href="{% url 'meeting_detail' data.id %}">
                        <button class="btn btn-primary" type="button">Detail</button>
                    </a>
                </td>
                <td><a href="{% url 'meeting_edit' data.id %}">
                        <button class="btn btn-secondary" type="button">Update</button>
                    </a>
                </td>
                <td>
                    <form action="{% url 'meeting_delete' data.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% comment %} <table class="table table-boardered text-center">
            <thead class="table-secondary">
                <tr>
                    <th>Complains</th>

                </tr>
            </thead>

            {% for data in meeting_read.complains %}
            <tr>
                <td>{{ data.complain_detail }}</td>
                <td>{{ data.complain_date }}</td>

            </tr>
            {% endfor %}
        </table>

        <table class="table table-boardered text-center">
            <thead class="table-secondary">
                <tr>
                    <th>Attendees</th>

                </tr>
            </thead>

            {% for data in meeting_read.custom_users %}
            <tr>
                <td>{{ data.custom_user_first_name }}</td>
                <td>{{ data.custom_user_last_name }}</td>

            </tr>
            {% endfor %}
        </table> {% endcomment %}

    </div>
</div>

{% include 'footer.html' %}
{% endblock body %}