{% load static %}


{% block body %}

{% include 'navigation.html' %}

<hr>

<marquee class="mt-2">
    Live, Learn & Be Inspired
</marquee>

<h5 class="card p-2 text-center mb-3">Update Penalty</h5>

<div class="container card  border-dark ">

    <div class="row">
        {% comment %} <h2 style="margin-top:20px" align="center">Edit penalty</h2>
        <hr> {% endcomment %}
        <form method="post" action="{% url 'penalty_update' penalty_data.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            
                <div class="form-group col-md-6">
                    <label for="penaltyName">penalty Name</label>
                    <input type="text" class="form-control" name="penalty_name" id="penaltyName" size="100" value="{{penalty_data.penalty_name}}"
                        required placeholder="Enter penalty Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="comments">penalty Comments</label>
                    <input type="text" class="form-control" name="comments" id="comments" size="100"
                        value="{{penalty_data.comments}}" required>
                </div>
            

            <button type="submit" class="btn btn-primary ml-3">Submit</button>
        </form>

    </div>

    

</div>

{% include 'footer.html' %}
{% endblock body %}