{% load static %}


{% block body %}

{% include 'navigation.html' %}

<hr>

<marquee class="mt-2">
    Live, Learn & Be Inspired
</marquee>

<h5 class="card p-2 text-center mb-3">Staff Member Detail</h5>

<div class="container card  border-dark ">

    <div class="row">

        <hr>
        <div class="form-group col-md-6">
            <form method="POST" action="{% url 'staff_read' %}">
                {% csrf_token %}


                <label for="first_nameid" size="60" style="margin-top:10px">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_nameid" size="60"
                    value="{{staff_data.first_name}}" disabled>

                <label for="last_nameid" size="60" style="margin-top:10px">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_nameid" size="60"
                    value="{{staff_data.last_name}}" disabled>

                <label for="email_id" size="60" style="margin-top:10px">Last Name</label>
                <input type="text" class="form-control" name="email_id" id="email_id" size="60"
                    value="{{staff_data.email_id}}" disabled>

                    <label for="contact_no" size="60" style="margin-top:10px">Contact Number</label>
                    <input type="text" class="form-control" name="contact_no" id="contact_no" size="60" value="{{staff_data.contact_no}}" disabled>
    
                    <label for="gender" size="60" style="margin-top:10px">Gender</label>
                    <input type="text" class="form-control" name="gender" id="gender" size="60" value="{{staff_data.gender}}" disabled>
    
                    <label class="mt-3">Designation</label>
                    <input type="text" class="form-control" name="designation" id="designation" size="60" value="{{staff_data.designation}}" disabled>

                    {% comment %} <label class="mt-3">Department</label>
                    <input type="text" class="form-control" name="depts" id="depts" size="60" value="{{staff_data.depts}}" disabled> {% endcomment %}

                    {% comment %} <select class="form-control" name="designation" disabled>
                        {% for designation in designations %}
                            {% if designation == staff_data.designation %}
                                <option value="{{designation.id}}" selected>{{designation.designation_name}} </option>
                            {% else %}
                                <option value="{{designation.id}}">{{designation.designation_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <h1> {{ staff_data.designation }} </h1> {% endcomment %}
                    {% comment %} <br> {% endcomment %}
    
                    <label class="mt-3"><b>Department</b></label>
                    <select class="form-control" name="depts" disabled>
                        {% for dept in deptartments %}
                            {% if dept == staff_data.depts %}
                                <option value="{{dept.id}}" selected>{{dept.dept_name}} </option>
                            {% else %}
                                <option value="{{dept.id}}">{{dept.dept_name}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>  
                
                {% comment %} <table class="table table-boardered">
                    <thead class="table-secondary">
                        <tr>
                            <th>Department</th>
                        </tr>
                    </thead>
                    <tr>
                        <td>
                            {% for dept in facultymember_data.depts.all %}{{ dept }}<br />{% endfor %}
                        </td>
                    </tr>
                </table> {% endcomment %}

                <button type="submit" class="btn btn-primary" style="margin-top:12px">Submit</button>


            </form>
        </div>
        <div class="form-group col-md-6">

        </div>
    </div>



</div>

{% include 'footer.html' %}
{% endblock body %}