<div class="related-widget-wrapper" data-model-ref="permission">




    <div class="selector">
        <div class="selector-available">
            <h2>Available user permissions <span class="help help-tooltip help-icon"
                    title="This is the list of available user permissions. You may choose some by selecting them in the box below and then clicking the &quot;Choose&quot; arrow between the two boxes."></span>
            </h2>
            <p id="id_user_permissions_filter" class="selector-filter">
                <label for="id_user_permissions_input"><span class="help-tooltip search-label-icon"
                        title="Type into this box to filter down the list of available user permissions."></span></label>
                <input type="text" placeholder="Filter" id="id_user_permissions_input"></p><select
                name="user_permissions_old" id="id_user_permissions_from" multiple="" class="filtered"
                data-field-name="user permissions" data-is-stacked="0">
                <option value="1" title="admin | log entry | Can add log entry">admin | log entry | Can add log entry
                </option>
                <option value="2" title="admin | log entry | Can change log entry">admin | log entry | Can change log
                    entry</option>
                <option value="3" title="admin | log entry | Can delete log entry">admin | log entry | Can delete log
                    entry</option>
                <option value="4" title="admin | log entry | Can view log entry">admin | log entry | Can view log entry
                </option>
                <option value="9" title="auth | group | Can add group">auth | group | Can add group</option>
                <option value="10" title="auth | group | Can change group">auth | group | Can change group</option>
                <option value="11" title="auth | group | Can delete group">auth | group | Can delete group</option>
                <option value="12" title="auth | group | Can view group">auth | group | Can view group</option>
                <option value="5" title="auth | permission | Can add permission">auth | permission | Can add permission
                </option>
                <option value="6" title="auth | permission | Can change permission">auth | permission | Can change
                    permission</option>
                <option value="7" title="auth | permission | Can delete permission">auth | permission | Can delete
                    permission</option>
                <option value="8" title="auth | permission | Can view permission">auth | permission | Can view
                    permission</option>
                <option value="13" title="contenttypes | content type | Can add content type">contenttypes | content
                    type | Can add content type</option>
                <option value="14" title="contenttypes | content type | Can change content type">contenttypes | content
                    type | Can change content type</option>
                <option value="15" title="contenttypes | content type | Can delete content type">contenttypes | content
                    type | Can delete content type</option>
                <option value="16" title="contenttypes | content type | Can view content type">contenttypes | content
                    type | Can view content type</option>
                <option value="117" title="sdasapp | attendance | Can add attendance">sdasapp | attendance | Can add
                    attendance</option>
                <option value="118" title="sdasapp | attendance | Can change attendance">sdasapp | attendance | Can
                    change attendance</option>
                <option value="119" title="sdasapp | attendance | Can delete attendance">sdasapp | attendance | Can
                    delete attendance</option>
                <option value="120" title="sdasapp | attendance | Can view attendance">sdasapp | attendance | Can view
                    attendance</option>
                <option value="25" title="sdasapp | committee | Can add committee">sdasapp | committee | Can add
                    committee</option>
                <option value="26" title="sdasapp | committee | Can change committee">sdasapp | committee | Can change
                    committee</option>
                <option value="27" title="sdasapp | committee | Can delete committee">sdasapp | committee | Can delete
                    committee</option>
                <option value="28" title="sdasapp | committee | Can view committee">sdasapp | committee | Can view
                    committee</option>
                <option value="29" title="sdasapp | complain | Can add complain">sdasapp | complain | Can add complain
                </option>
                <option value="30" title="sdasapp | complain | Can change complain">sdasapp | complain | Can change
                    complain</option>
                <option value="31" title="sdasapp | complain | Can delete complain">sdasapp | complain | Can delete
                    complain</option>
                <option value="32" title="sdasapp | complain | Can view complain">sdasapp | complain | Can view complain
                </option>
                <option value="121" title="sdasapp | user | Can add user">sdasapp | user | Can add user</option>
                <option value="122" title="sdasapp | user | Can change user">sdasapp | user | Can change user</option>
                <option value="123" title="sdasapp | user | Can delete user">sdasapp | user | Can delete user</option>
                <option value="124" title="sdasapp | user | Can view user">sdasapp | user | Can view user</option>
                <option value="113" title="sdasapp | complain_ committee | Can add complain_ committee">sdasapp |
                    complain_ committee | Can add complain_ committee</option>
                <option value="114" title="sdasapp | complain_ committee | Can change complain_ committee">sdasapp |
                    complain_ committee | Can change complain_ committee</option>
                <option value="115" title="sdasapp | complain_ committee | Can delete complain_ committee">sdasapp |
                    complain_ committee | Can delete complain_ committee</option>
                <option value="116" title="sdasapp | complain_ committee | Can view complain_ committee">sdasapp |
                    complain_ committee | Can view complain_ committee</option>
                <option value="33" title="sdasapp | complain_ meeting | Can add complain_ meeting">sdasapp | complain_
                    meeting | Can add complain_ meeting</option>
                <option value="34" title="sdasapp | complain_ meeting | Can change complain_ meeting">sdasapp |
                    complain_ meeting | Can change complain_ meeting</option>
                <option value="35" title="sdasapp | complain_ meeting | Can delete complain_ meeting">sdasapp |
                    complain_ meeting | Can delete complain_ meeting</option>
                <option value="36" title="sdasapp | complain_ meeting | Can view complain_ meeting">sdasapp | complain_
                    meeting | Can view complain_ meeting</option>
                <option value="37" title="sdasapp | complain_ offence | Can add complain_ offence">sdasapp | complain_
                    offence | Can add complain_ offence</option>
                <option value="38" title="sdasapp | complain_ offence | Can change complain_ offence">sdasapp |
                    complain_ offence | Can change complain_ offence</option>
                <option value="39" title="sdasapp | complain_ offence | Can delete complain_ offence">sdasapp |
                    complain_ offence | Can delete complain_ offence</option>
                <option value="40" title="sdasapp | complain_ offence | Can view complain_ offence">sdasapp | complain_
                    offence | Can view complain_ offence</option>
                <option value="129" title="sdasapp | complain_ offender | Can add complain_ offender">sdasapp |
                    complain_ offender | Can add complain_ offender</option>
                <option value="130" title="sdasapp | complain_ offender | Can change complain_ offender">sdasapp |
                    complain_ offender | Can change complain_ offender</option>
                <option value="131" title="sdasapp | complain_ offender | Can delete complain_ offender">sdasapp |
                    complain_ offender | Can delete complain_ offender</option>
                <option value="132" title="sdasapp | complain_ offender | Can view complain_ offender">sdasapp |
                    complain_ offender | Can view complain_ offender</option>
                <option value="21" title="sdasapp | user | Can add user">sdasapp | user | Can add user</option>
                <option value="22" title="sdasapp | user | Can change user">sdasapp | user | Can change user</option>
                <option value="23" title="sdasapp | user | Can delete user">sdasapp | user | Can delete user</option>
                <option value="24" title="sdasapp | user | Can view user">sdasapp | user | Can view user</option>
                <option value="41" title="sdasapp | decision | Can add decision">sdasapp | decision | Can add decision
                </option>
                <option value="42" title="sdasapp | decision | Can change decision">sdasapp | decision | Can change
                    decision</option>
                <option value="43" title="sdasapp | decision | Can delete decision">sdasapp | decision | Can delete
                    decision</option>
                <option value="44" title="sdasapp | decision | Can view decision">sdasapp | decision | Can view decision
                </option>
                <option value="45" title="sdasapp | decision_ penalty | Can add decision_ penalty">sdasapp | decision_
                    penalty | Can add decision_ penalty</option>
                <option value="46" title="sdasapp | decision_ penalty | Can change decision_ penalty">sdasapp |
                    decision_ penalty | Can change decision_ penalty</option>
                <option value="47" title="sdasapp | decision_ penalty | Can delete decision_ penalty">sdasapp |
                    decision_ penalty | Can delete decision_ penalty</option>
                <option value="48" title="sdasapp | decision_ penalty | Can view decision_ penalty">sdasapp | decision_
                    penalty | Can view decision_ penalty</option>
                <option value="49" title="sdasapp | dept | Can add dept">sdasapp | dept | Can add dept</option>
                <option value="50" title="sdasapp | dept | Can change dept">sdasapp | dept | Can change dept</option>
                <option value="51" title="sdasapp | dept | Can delete dept">sdasapp | dept | Can delete dept</option>
                <option value="52" title="sdasapp | dept | Can view dept">sdasapp | dept | Can view dept</option>
                <option value="53" title="sdasapp | dept_ faculty member | Can add dept_ faculty member">sdasapp | dept_
                    faculty member | Can add dept_ faculty member</option>
                <option value="54" title="sdasapp | dept_ faculty member | Can change dept_ faculty member">sdasapp |
                    dept_ faculty member | Can change dept_ faculty member</option>
                <option value="55" title="sdasapp | dept_ faculty member | Can delete dept_ faculty member">sdasapp |
                    dept_ faculty member | Can delete dept_ faculty member</option>
                <option value="56" title="sdasapp | dept_ faculty member | Can view dept_ faculty member">sdasapp |
                    dept_ faculty member | Can view dept_ faculty member</option>
                <option value="57" title="sdasapp | dept_ staff | Can add dept_ staff">sdasapp | dept_ staff | Can add
                    dept_ staff</option>
                <option value="58" title="sdasapp | dept_ staff | Can change dept_ staff">sdasapp | dept_ staff | Can
                    change dept_ staff</option>
                <option value="59" title="sdasapp | dept_ staff | Can delete dept_ staff">sdasapp | dept_ staff | Can
                    delete dept_ staff</option>
                <option value="60" title="sdasapp | dept_ staff | Can view dept_ staff">sdasapp | dept_ staff | Can view
                    dept_ staff</option>
                <option value="61" title="sdasapp | faculty | Can add faculty">sdasapp | faculty | Can add faculty
                </option>
                <option value="62" title="sdasapp | faculty | Can change faculty">sdasapp | faculty | Can change faculty
                </option>
                <option value="63" title="sdasapp | faculty | Can delete faculty">sdasapp | faculty | Can delete faculty
                </option>
                <option value="64" title="sdasapp | faculty | Can view faculty">sdasapp | faculty | Can view faculty
                </option>
                <option value="69" title="sdasapp | faculty member | Can add faculty member">sdasapp | faculty member |
                    Can add faculty member</option>
                <option value="70" title="sdasapp | faculty member | Can change faculty member">sdasapp | faculty member
                    | Can change faculty member</option>
                <option value="71" title="sdasapp | faculty member | Can delete faculty member">sdasapp | faculty member
                    | Can delete faculty member</option>
                <option value="72" title="sdasapp | faculty member | Can view faculty member">sdasapp | faculty member |
                    Can view faculty member</option>
                <option value="109" title="sdasapp | faculty member_ committee | Can add faculty member_ committee">
                    sdasapp | faculty member_ committee | Can add faculty member_ committee</option>
                <option value="110" title="sdasapp | faculty member_ committee | Can change faculty member_ committee">
                    sdasapp | faculty member_ committee | Can change faculty member_ committee</option>
                <option value="111" title="sdasapp | faculty member_ committee | Can delete faculty member_ committee">
                    sdasapp | faculty member_ committee | Can delete faculty member_ committee</option>
                <option value="112" title="sdasapp | faculty member_ committee | Can view faculty member_ committee">
                    sdasapp | faculty member_ committee | Can view faculty member_ committee</option>
                <option value="105" title="sdasapp | faculty member_ meeting | Can add faculty member_ meeting">sdasapp
                    | faculty member_ meeting | Can add faculty member_ meeting</option>
                <option value="106" title="sdasapp | faculty member_ meeting | Can change faculty member_ meeting">
                    sdasapp | faculty member_ meeting | Can change faculty member_ meeting</option>
                <option value="107" title="sdasapp | faculty member_ meeting | Can delete faculty member_ meeting">
                    sdasapp | faculty member_ meeting | Can delete faculty member_ meeting</option>
                <option value="108" title="sdasapp | faculty member_ meeting | Can view faculty member_ meeting">sdasapp
                    | faculty member_ meeting | Can view faculty member_ meeting</option>
                <option value="65" title="sdasapp | faculty_ audit | Can add faculty_ audit">sdasapp | faculty_ audit |
                    Can add faculty_ audit</option>
                <option value="66" title="sdasapp | faculty_ audit | Can change faculty_ audit">sdasapp | faculty_ audit
                    | Can change faculty_ audit</option>
                <option value="67" title="sdasapp | faculty_ audit | Can delete faculty_ audit">sdasapp | faculty_ audit
                    | Can delete faculty_ audit</option>
                <option value="68" title="sdasapp | faculty_ audit | Can view faculty_ audit">sdasapp | faculty_ audit |
                    Can view faculty_ audit</option>
                <option value="73" title="sdasapp | meeting | Can add meeting">sdasapp | meeting | Can add meeting
                </option>
                <option value="74" title="sdasapp | meeting | Can change meeting">sdasapp | meeting | Can change meeting
                </option>
                <option value="75" title="sdasapp | meeting | Can delete meeting">sdasapp | meeting | Can delete meeting
                </option>
                <option value="76" title="sdasapp | meeting | Can view meeting">sdasapp | meeting | Can view meeting
                </option>
                <option value="101" title="sdasapp | meeting_ decision | Can add meeting_ decision">sdasapp | meeting_
                    decision | Can add meeting_ decision</option>
                <option value="102" title="sdasapp | meeting_ decision | Can change meeting_ decision">sdasapp |
                    meeting_ decision | Can change meeting_ decision</option>
                <option value="103" title="sdasapp | meeting_ decision | Can delete meeting_ decision">sdasapp |
                    meeting_ decision | Can delete meeting_ decision</option>
                <option value="104" title="sdasapp | meeting_ decision | Can view meeting_ decision">sdasapp | meeting_
                    decision | Can view meeting_ decision</option>
                <option value="97" title="sdasapp | offence | Can add offence">sdasapp | offence | Can add offence
                </option>
                <option value="98" title="sdasapp | offence | Can change offence">sdasapp | offence | Can change offence
                </option>
                <option value="99" title="sdasapp | offence | Can delete offence">sdasapp | offence | Can delete offence
                </option>
                <option value="100" title="sdasapp | offence | Can view offence">sdasapp | offence | Can view offence
                </option>
                <option value="125" title="sdasapp | user | Can add user">sdasapp | user | Can add user</option>
                <option value="126" title="sdasapp | user | Can change user">sdasapp | user | Can change user</option>
                <option value="127" title="sdasapp | user | Can delete user">sdasapp | user | Can delete user</option>
                <option value="128" title="sdasapp | user | Can view user">sdasapp | user | Can view user</option>
                <option value="93" title="sdasapp | penalty | Can add penalty">sdasapp | penalty | Can add penalty
                </option>
                <option value="94" title="sdasapp | penalty | Can change penalty">sdasapp | penalty | Can change penalty
                </option>
                <option value="95" title="sdasapp | penalty | Can delete penalty">sdasapp | penalty | Can delete penalty
                </option>
                <option value="96" title="sdasapp | penalty | Can view penalty">sdasapp | penalty | Can view penalty
                </option>
                <option value="89" title="sdasapp | program | Can add program">sdasapp | program | Can add program
                </option>
                <option value="90" title="sdasapp | program | Can change program">sdasapp | program | Can change program
                </option>
                <option value="91" title="sdasapp | program | Can delete program">sdasapp | program | Can delete program
                </option>
                <option value="92" title="sdasapp | program | Can view program">sdasapp | program | Can view program
                </option>
                <option value="77" title="sdasapp | staff | Can add staff">sdasapp | staff | Can add staff</option>
                <option value="78" title="sdasapp | staff | Can change staff">sdasapp | staff | Can change staff
                </option>
                <option value="79" title="sdasapp | staff | Can delete staff">sdasapp | staff | Can delete staff
                </option>
                <option value="80" title="sdasapp | staff | Can view staff">sdasapp | staff | Can view staff</option>
                <option value="85" title="sdasapp | staff_ committee | Can add staff_ committee">sdasapp | staff_
                    committee | Can add staff_ committee</option>
                <option value="86" title="sdasapp | staff_ committee | Can change staff_ committee">sdasapp | staff_
                    committee | Can change staff_ committee</option>
                <option value="87" title="sdasapp | staff_ committee | Can delete staff_ committee">sdasapp | staff_
                    committee | Can delete staff_ committee</option>
                <option value="88" title="sdasapp | staff_ committee | Can view staff_ committee">sdasapp | staff_
                    committee | Can view staff_ committee</option>
                <option value="81" title="sdasapp | user | Can add user">sdasapp | user | Can add user</option>
                <option value="82" title="sdasapp | user | Can change user">sdasapp | user | Can change user</option>
                <option value="83" title="sdasapp | user | Can delete user">sdasapp | user | Can delete user</option>
                <option value="84" title="sdasapp | user | Can view user">sdasapp | user | Can view user</option>
                <option value="17" title="sessions | session | Can add session">sessions | session | Can add session
                </option>
                <option value="18" title="sessions | session | Can change session">sessions | session | Can change
                    session</option>
                <option value="19" title="sessions | session | Can delete session">sessions | session | Can delete
                    session</option>
                <option value="20" title="sessions | session | Can view session">sessions | session | Can view session
                </option>
            </select><a title="Click to choose all user permissions at once." href="#"
                id="id_user_permissions_add_all_link" class="selector-chooseall active">Choose all</a>
        </div>
        <ul class="selector-chooser">
            <li><a title="Choose" href="#" id="id_user_permissions_add_link" class="selector-add">Choose</a></li>
            <li><a title="Remove" href="#" id="id_user_permissions_remove_link" class="selector-remove">Remove</a></li>
        </ul>
        <div class="selector-chosen">
            <h2>Chosen user permissions <span class="help help-tooltip help-icon"
                    title="This is the list of chosen user permissions. You may remove some by selecting them in the box below and then clicking the &quot;Remove&quot; arrow between the two boxes."></span>
            </h2><select id="id_user_permissions_to" multiple="multiple" size="0" name="user_permissions"
                class="filtered" style="height: 267.8px;"></select><a
                title="Click to remove all chosen user permissions at once." href="#"
                id="id_user_permissions_remove_all_link" class="selector-clearall">Remove all</a>
        </div>
    </div>
</div>